#content {
    width: 100%;
    max-width: 480px;
}

.toolbar {
    float: right;
}

#status_rtc {

}

#avisoPausado {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}